.carousel-pagination {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 20px;

  &__btn {
    position: relative;
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 20px;
    opacity: 0.5;
    background: $white;
    transform: rotate(45deg);
    transition: transform .2s ease-out, opacity .2s ease-out, background-color .2s ease-out;

    &--active {
      opacity: 1;
      transform: rotate(45deg) scale3d(1.3, 1.3, 1.3);
    }
  }
}