.horse-information {
  position: relative;
  width: 100%;

  &__section {
    position: relative;
    width: 100%;
    margin-top: 60px;

    &:last-child {
      margin-bottom: 60px;
    }

    &--shadow {
      position: relative;
      width: 100%;
      z-index: 5;
    }
  }

  &__grid-item {
    position: relative;
    margin: 15px 0;
    text-align: center;

    @media all and (min-width: $screen-sm-min) {
      margin: 15px;
    }
  }

  &__member {
    position: relative;
    display: inline-block;
  }
}