.align-middle {
  @include vertical-align();
}

.no-padding {
  padding: 0 !important;
}

.section-shadow {
  box-shadow: inset 0 20px 37px -37px rgba($black, .2);

  &--carousel {
    box-shadow: inset 0 60px 37px -37px rgba($black, .2);
  }

  &--tile {
    box-shadow: 2.16px 2.16px 5.39px 1px rgba(1,1,1,0.1);

    &--bottom {
      box-shadow: 0 8px 50px -25px rgba(1, 1, 1, 0.1);
    }

    &--inverse:before {
      box-shadow: -2.16px 2.16px 2.16px 0px rgba(1, 1, 1, 0.1);
    }
  }

  &--left {
    box-shadow: -5px 0px 20px -5px rgba($black, 0.5);
  }

  &--bottom {
    box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.2);
  }

  &--top {
    box-shadow: 0px -5px 20px -5px rgba(0,0,0,0.1);
  }
}

.cursor {
  &--pointer {
    cursor: pointer;
  }
}