.edit-button {
  position: relative;
  width: 100%;
  @include clearfix();

  &__button {
    position: relative;
    float: right;
    width: 150px;
  }

  &--absolute {
    position: absolute;
    top: 0;
    right: 0;
  }

  &--right {
    right: 0;
    left: initial;
  }

  &--left {
    left: 0;
    right: initial;
  }
}