.member-dashboard {
  position: relative;
  
  &__title {
    color: $color-text-heading;
    margin: 40px 10px 25px;

    @media (min-width: $screen-sm-min) {
      margin: 50px 10px 60px;
    }
  }

  &__slider {
    position: relative;
    width: 100%;
  }

  &__more-btn {
    margin: 15px auto;
    display: block;

    @media (min-width: $screen-sm-min) {
      margin: 50px auto;
    }
  }
}
