.quote-edit {
  position: relative;

  &__text {
    textarea {
      @include h1();
      color: $color-text-strong;
      text-transform: uppercase;
      text-align: center;

      &::placeholder {
        @include h1();
        color: $color-text-strong;
        text-transform: uppercase;
        text-align: center;
        opacity: 0.5;
      }
    }
  }

  &__char-count {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 10px;

    >h6 {
      color: $color-text-faded;
      display: inline-block;
    }
  }
}