.fluid-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 19;
  border-top: $header-height solid transparent;

  &__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-light-popup-bg;
  }

  &__wrapper {
    position: relative;
    width: 100%;
  }
}